@inject AppState appState;
@page "/"

<PageTitle>Index</PageTitle>


<div>
    <div class="col-3"></div>
    <div class="col-7">
        <TodoList Todos="@appState.Todos"></TodoList>
    </div>
</div>





@code {

}