@inject AppState AppState;

<div>
    <label class="@design">
        <input type="checkbox" @bind-value="Todo.Done" @onclick="chk_click" />
        @Todo.Text
    </label>
    @*<button class="btn btn-info" @onclick="@(() => toastService.ShowToast("I'm an INFO message", ToastLevel.Info))">Info Toast</button>*@

</div>

@code {
    [Parameter]
    public ToDoItem? Todo { get; set; }

    [Parameter]
    public TodoList? TodosComp { get; set; }

    public string design { get { return Todo.Done ? "itemchecked" : ""; } }
    async void chk_click()
    {
        if (!this.Todo.Done)
        {
            //toastService.ShowToast(this.Todo.Text + " " + this.Todo.Done, ToastLevel.Info);
            this.Todo.RealyDone = true;
            await this.TodosComp?.ShowToast();
        }
    }
}
